@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --accent: #4fe67c;
  --white: #ebeeff;
  --black: #1c1c16;
}

html,
body,
#root {
  height: 100%;
  background: var(--white);
  transition: background-color 0.25 ease, color 0.25s ease;
}

.web-width {
  max-width: 1600px;
}
